#secondBar li>a.not{ color: #333; }

#container{ width: 100%; margin-top: 80px; min-height: 500px; background-color: #F4F4F4; }
#container #smallContainer{ margin: 10px; height: 180px; width: 140px; background-color: black; border-radius: 8px; padding: 10px; }
#container #smallContainer #smallImg{ background-color: white; height: 140px; width: 140px; }
#container #about{ width: 60%; }
#container form input{ background: #FFFFFF; border: 6px solid #D2D1CF; border-radius: 5px; color: black; padding: 0.5em 1.5em; font-weight: 600; margin-bottom: 5px; }
#container form input[type="password"]{ margin-left: 29px; width: 375px; }
#container form input[type="text"]{ margin-left: 25px; width: 375px; }
#container form input[name="email"]{ margin-left: 61px; width: 375px; }
#container form input[disabled="disabled"]{ color: lightgray; }
#container .album-list{ margin-top: 0px; margin-bottom: 10px; }
#container .albumPreview img{ height: 182px; float: left; margin-right: 25px; }
#container .albumPreview p{ height: 182px; }
#dropzone{ border: 2px dashed #0087F7; width: 72%; margin: 0 auto; height: 44px }
#dropzone span{ position: static; width: inherit; background: 0; }
.profilePic{ max-height: 182px; max-width: 182px; border-radius: 10px; margin: 0 auto; }
#newAlbum{ margin-left: 25px; }
#newAlbum #newAlbum2{ display: none; }
#newAlbum #newAlbum2 input[type="number"]{ width: 100px; }
#newAlbum #newAlbum2 #shareLink{ display: none; }
#newAlbum #newAlbum2 #inviteShare{ display: none; }
#newAlbum #newAlbum2 #inviteShare #inviteError{ display: none; }
#newAlbum #newAlbum2 #inviteShare #invited{ display: none; }